<h1> This is Test 2 page  </h1>
<h1> My Name is with view Data  @ViewData["Name"]</h1>
<h1> My Occupation is with view Data  @ViewData["Occupation"]</h1>
<h1> My Skills is with view Data  @ViewData["Skills"]</h1>
<h1>
    Company Name is =  @TempData["CompanyName"]
</h1>
<h1>
    Role is = @TempData["Role"]
</h1>
