<h1> This is Test 3 page </h1>
<h1> My Name is with View Bag @ViewBag.Name</h1>
<h1> My Occupation is with View Bag @ViewBag.Occupation</h1>
<h1> My Skills is with View Bag @ViewBag.Skills</h1>
<h1>
    Company Name is =  @TempData["CompanyName"]
</h1>
<h1>
    Role is = @TempData.Peek("Role")
</h1>